@font-face {
  font-family: 'oscIconFont';
  src:  url('fonts/oscIconFont.eot?cttr5q');
  src:  url('fonts/oscIconFont.eot?cttr5q#iefix') format('embedded-opentype'),
    url('fonts/oscIconFont.ttf?cttr5q') format('truetype'),
    url('fonts/oscIconFont.woff?cttr5q') format('woff'),
    url('fonts/oscIconFont.svg?cttr5q#oscIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oscIconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ocs:before {
  content: "\6f";
}
.icon-osc-filled:before {
  content: "\73";
}
.icon-osc-bold:before {
  content: "\4f";
}
.icon-osc-bold-filled:before {
  content: "\53";
}
.icon-osc-icon-inner:before {
  content: "\63";
}

